<% if (item.categories && item.categories.length){ %>
<%
    var categories = [];
    item.categories.forEach(function(category){
        categories.push('<a href="' + config.root + category.path + '">' + category.name + '</a>');
    });
%>

<div class="blog-categories-container">
    <span><img src="<%= config.root %>image/categoriesicon.png" alt=""/></span> 
    <%- categories.join(' / ') %>
</div>
<% } %>
