.blog-post
  margin-bottom: 10%;
  padding-left:20px;
  padding-top: 15px;
  padding-bottom: 25px;
  background-image:url(../image/transparent.png);
  background-size:100%
  border-radius: 1em
    a
      text-decoration: none;
      background: linear-gradient(330deg, #0c00ff 0%, #580bcb 25%, #ff45fd 50%, #52e0e0 75%, #0c00ff 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;


.blog-post-title
  font-weight: bold
  a
    text-decoration: none;
    font-weight: bold;
    background: linear-gradient(330deg, #033ebe 0%, #580bcb 25%, #52e0e0 50%, #9952e0 75%, #2603be 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


.blog-post-meta
  background: linear-gradient(300deg, #033ebe 0%, #580bcb 25%, #52e0e0 50%, #9952e0 75%, #2603be 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
