footer .outer
   margin:0;
   padding:0;
   height:70px;
   display:block;

#footer-info
  height:100%;
  width:100%;
  text-align: center;
  padding-top: 25px;
  background-image:url(../image/header1.jpg);
  background-size:100%;
